/*--------------------------------------GENERAL--------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
}

/*--------------------------------------TOP BAR--------------------------------------*/
.top-bar h3 {
    text-decoration: none;
    font-weight: bold;
    font-size: 3rem;
}

.top-bar a {
    text-decoration: none;
}

.top-bar a:hover {
    text-decoration: none;
    color: lightblue;
}

.index-link {
    color: lightblue;
}

/*--------------------------------------SEARCH BOX--------------------------------------*/

.search-box form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.search-input {
    padding: 0.5rem 1.7rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.55);
    box-shadow: 5px 5px 10px -5px rgba(0, 0 ,0,.4);
    margin: 2rem;
    border-radius:50px;
    display: flex;
    align-items: center;

}

.search-input i{
    font-size: 1.4rem;
}

.search-input input {
    font-size: 1.8rem;
    border: none;
    outline: none;
    width: 30rem;
    text-align: center;
}

.search-box .btn {
    width: 10rem;
    padding: 0.2rem 0.6rem;
    font-size: 1.5rem;
    margin: auto;
    border-radius: 20px;

}


/*---------------------------------------INDEX--------------------------------------*/

/*-----HEADER-----*/
.hero-shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .72);
    z-index: -1;
}

header {
    background-image: url('../img/banner.jpg');
    position: relative;
    height: 30rem;
    background-position: center;
    background-size: cover;
    z-index: 0;
}

.header-name {
    /*Zmienić czcionkę*/
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
}

.header-text {
    font-size: 1.7rem;
}

.content-box{
height: 50rem;
}

/*--------------------------------------WEATHER--------------------------------------*/

.degrees {
    float: left;
}

.weather-box {
    width: 100%;
    /*background-color: darkseagreen;*/
}

.placeLabel {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}


/*--------------------------------------FOOTER--------------------------------------*/

footer {
    font-weight: bold;
}

footer .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .row div,
footer .row a {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    margin: 0;
    font-size: 1.5rem;
}

.git i {
    font-size: 4rem;
}