/*--------------------------------------GENERAL--------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main{
    flex: 1 0 auto;
    min-height: auto;
}

/*--------------------------------------TOP BAR--------------------------------------*/
.logo{
    width: auto;
}

.top-bar h3 {
    text-decoration: none;
    font-weight: bold;
    font-size: 3rem;
}

.top-bar a {
    text-decoration: none;
}

.top-bar a:hover {
    text-decoration: none;
    color: lightblue;
}

.index-link {
    color: lightblue;
}

/*--------------------------------------SEARCH BOX--------------------------------------*/

.search-box{
    padding: 4rem;
}

.search-box form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.search-input {
    padding: 0.5rem 1.7rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.55);
    box-shadow: 5px 5px 10px -5px rgba(0, 0 ,0,.4);
    margin: 2rem;
    border-radius:50px;
    display: flex;
    align-items: center;

}

.search-input i{
    font-size: 1.4rem;
}

.search-input input {
    font-size: 1.8rem;
    border: none;
    outline: none;
    width: 30rem;
    text-align: center;
}

.search-box .btn {
    width: 10rem;
    padding: 0.2rem 0.6rem;
    font-size: 1.5rem;
    margin: auto;
    border-radius: 20px;
}

.search-info{
    font-size: 1.9rem;
    font-weight: 700;
    font-style: italic;
}

@media (max-width:700px){

    .search-box{
        padding: 1rem;
    }

    .search-input input {
        font-size: 1.2rem;
        width: 25rem;
    }

    .search-box .btn {
        width: 6rem;
        font-size: 1rem;
    }
}

@media (max-width:400px){
    .search-box{
        padding: 0;
    }

    .search-input input {
        font-size: 1rem;
        width: 15rem;
    }

    .search-box .btn {
        width: 4rem;
        font-size: 0.7rem;
    }
}

/*---------------------------------------INDEX--------------------------------------*/

/*-----HEADER-----*/
.hero-shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .72);
    z-index: -1;
}

header {
    background-image: url('../img/banner.jpg');
    position: relative;
    height: 30rem;
    background-position: center;
    background-size: cover;
    z-index: 0;
}

.header-name {
    /*Zmienić czcionkę*/
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
}

.header-text {
    font-size: 1.7rem;
}

.content-box{

}

.city-hero-shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: -1;
}

.city-image{
    position: relative;
    height: 15rem;
    background-position: center;
    background-size: cover;
    z-index: 0;
}

.popular-city-temperature{
    font-size: 2.5rem;
}

/*--------------------------------------WEATHER--------------------------------------*/

.degrees {
    float: left;
}

.weather-box {
    width: 100%;
}

.place-label {
    font-size: 3.2rem;
    font-weight: bold;
    text-align: center;
}

.temperature h3{
    font-size: 4rem;
    font-weight: bold;
}

.weather-box table{
    table-layout: auto;
    width: auto;
}

.weather-box .table th{
    background-color: #414f53;
    color: white;
}


/*--------------------------------------FOOTER--------------------------------------*/

footer {
    font-weight: bold;
}

footer .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

footer .row div,
footer .row a {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    margin: 0;
    font-size: 1.5rem;
}

.git i {
    font-size: 4rem;
}

@media (max-width:700px){
    footer p {
        font-size: 1rem;
    }

    .git i {
        font-size: 3rem;
    }
}

@media (max-width:400px){
    footer p {
        font-size: 0.7rem;
    }

    .git i {
        font-size: 2rem;
    }
}

@media (max-width:300px){
    footer p {
        font-size: 0.7rem;
    }
}