<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>


    <meta charset="utf-8">
    <title>Feather Weather</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script src="https://kit.fontawesome.com/970b52408b.js" crossorigin="anonymous"></script>
</head>

<body>

<div th:replace="fragments/page-fragments :: top-bar"></div>

<main>
    <div class="container d-flex flex-column justify-content-center align-items-center p-5">

        <div th:replace="fragments/page-fragments :: search-box"></div>

        <div class="weather-box d-flex flex-column justify-content-center align-items-center">

            <div class="d-flex p-3 flex-column justify-content-center align-items-center place-label">
                <p><span th:text="${currentWeather.getName()}"></span>, <span
                        th:text="${currentWeather.getSys().getCountry()}"></span></p>
            </div>

            <div class="col-12 d-flex justify-content-around align-items-center text-center">
                <div class="col-5 px-1 d-flex flex-column justify-content-center align-items-end">
                    <img th:if="${weatherDisplay.getWeatherImage()} != null"
                         th:src="@{/{image}.png(image=${weatherDisplay.getWeatherImage()})}" height="100" width="100" alt="weather"/>
                    <div class="temperature p-2">
                        <h3 th:text="${currentWeather.getCurrentTemperature()}"></h3>
                    </div>
                </div>

                <div class="col-6 px-1 text-left">
                    <table class="table table-striped">
                        <tr>
                            <th>Description</th>
                            <td th:text="${currentWeather.getWeather().get(0).getDescription()}"></td>
                        </tr>
                        <tr>
                            <th>Perceptible Temperature</th>
                            <td th:text="${currentWeather.getPerceptibleTemperature()}"></td>
                        </tr>
                        <tr>
                            <th>Min Temperature</th>
                            <td th:text="${currentWeather.getMinTemperature()}"></td>
                        </tr>
                        <tr>
                            <th>Max Temperature</th>
                            <td th:text="${currentWeather.getMaxTemperature()}"></td>
                        </tr>
                        <tr>
                            <th>Humidity</th>
                            <td th:text="${currentWeather.getMain().getHumidity()} + '%'"></td>
                        </tr>
                        <tr>
                            <th>Pressure</th>
                            <td th:text="${currentWeather.getMain().getPressure()} + ' hpa'"></td>
                        </tr>
                        <tr>
                            <th>Wind Speed</th>
                            <td th:text="${currentWeather.getWind().getSpeed()}+' m/h'"></td>
                        </tr>
                    </table>
                </div>
            </div>
<!--            <div>-->
<!--                <div class="col-3"></div>-->
<!--                <div class="col-9">Hourly Forecast</div>-->
<!--            </div>-->

<!--            <div>-->
<!--                <div class="col-3"></div>-->
<!--                <div class="col-9">Daily Forecast</div>-->
<!--            </div>-->

            <div>Weather Icons made by <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good
                Ware</a>
                from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

        </div>
    </div>
</main>

<footer th:replace="fragments/page-fragments :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
<script th:src="@{/js/searchValidator.js}"></script>
</body>

</html>